Final Deliverables/node_red_json_file_flow-2.md
[{"id":"1819418ffaee3ee5","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"7f5cf345.63f56c","type":"http response","z":"1819418ffaee3ee5","name":"","statusCode":"200","headers":{},"x":840,"y":200,"wires":[]},{"id":"e71c7a7d.e7c598","type":"debug","z":"1819418ffaee3ee5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":420,"wires":[]},{"id":"c7807102.3f433","type":"http in","z":"1819418ffaee3ee5","name":"","url":"command","method":"get","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["60410cde.562a34"]]},{"id":"60410cde.562a34","type":"function","z":"1819418ffaee3ee5","name":"","func":"msg.payload = {'Alar':global.get('Alar')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":400,"wires":[["7f5cf345.63f56c","e71c7a7d.e7c598"]]},{"id":"698da80c7836cea4","type":"ui_button","z":"1819418ffaee3ee5","name":"","group":"66bce42692eed6b1","order":3,"width":0,"height":0,"passthru":false,"label":"Alarm ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":160,"y":200,"wires":[["6878957e52c678f6"]]},{"id":"6878957e52c678f6","type":"function","z":"1819418ffaee3ee5","name":"","func":"if(msg.payload == 1)\n{\n    msg.payload=1;\n}\nelse\n{\n    msg.payload=0;\n}\nglobal.set('Alar',msg.payload)\nmsg.payload = {'Alar':global.get('Alar')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":200,"wires":[["e71c7a7d.e7c598"]]},{"id":"9747945c8b11b89f","type":"ui_button","z":"1819418ffaee3ee5","name":"","group":"66bce42692eed6b1","order":3,"width":0,"height":0,"passthru":false,"label":"Alarm OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":300,"wires":[["6878957e52c678f6"]]},{"id":"25c013b66f1577be","type":"function","z":"1819418ffaee3ee5","name":"","func":"global.set('Alar',1)\nmsg.payload = {'Alar':1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":600,"wires":[["e71c7a7d.e7c598","7f5cf345.63f56c"]]},{"id":"31722af4312e8a88","type":"http in","z":"1819418ffaee3ee5","name":"","url":"mobileon","method":"get","upload":false,"swaggerDoc":"","x":168.39999389648438,"y":594.5999755859375,"wires":[["25c013b66f1577be"]]},{"id":"f1fe5338e83a445a","type":"http in","z":"1819418ffaee3ee5","name":"","url":"mobileoff","method":"get","upload":false,"swaggerDoc":"","x":180.39999389648438,"y":668.5999755859375,"wires":[["0dbffb65ea00a57f"]]},{"id":"0dbffb65ea00a57f","type":"function","z":"1819418ffaee3ee5","name":"","func":"global.set('Alar',0)\nmsg.payload = {'Alar':0}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":680,"wires":[["7f5cf345.63f56c","e71c7a7d.e7c598"]]},{"id":"66bce42692eed6b1","type":"ui_group","name":"ALARM","tab":"921bcc13fd3771df","order":4,"disp":true,"width":7,"collapse":false},{"id":"921bcc13fd3771df","type":"ui_tab","name":"Hazardous Area Monitoring","icon":"dashboard","disabled":false,"hidden":false}]
