Final Deliverables/node_red_json_file.md
[{"id":"1f06c26950396cf7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ffebc4772f3a739c","type":"comment","z":"1f06c26950396cf7","name":"Hazardous Area Monitoring","info":"","x":750,"y":20,"wires":[]},{"id":"dbe783e43b60d2c2","type":"ibmiot in","z":"1f06c26950396cf7","authentication":"apiKey","apiKey":"cc617d42bcb990ae","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Assign4","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["7630b4556b138fa3","41e96881901d6462","e548c60d7a4f54f4","8b5ceefdad716174","19598072b2da5ea9","1b49a57b0f69f6de","6e7a8d28d7ebaa78"]]},{"id":"7630b4556b138fa3","type":"debug","z":"1f06c26950396cf7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"41e96881901d6462","type":"function","z":"1f06c26950396cf7","name":"","func":"global.set('Temperature',msg.payload.Temperature)\nglobal.set('Alarm',msg.payload.Alarm)\n\nmsg.payload = msg.payload.Temperature;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["aba6db961e70bb03","7aad03a96b2c68a6"]]},{"id":"aba6db961e70bb03","type":"ui_gauge","z":"1f06c26950396cf7","name":"Temperature","group":"53e4704e8ee1e14c","order":1,"width":6,"height":5,"gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"80","colors":["#c73d3d","#12b525","#ca3838"],"seg1":"15","seg2":"45","x":690,"y":180,"wires":[]},{"id":"d04f9ac167e5054f","type":"ui_gauge","z":"1f06c26950396cf7","name":"Humidity","group":"57795ad37139dca5","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#03b03f","#ca3838"],"seg1":"","seg2":"","x":680,"y":340,"wires":[]},{"id":"e1b6528ff5d5e564","type":"ui_gauge","z":"1f06c26950396cf7","name":"Gas Sensor","group":"dab251ccba4334d0","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":420,"wires":[]},{"id":"e548c60d7a4f54f4","type":"function","z":"1f06c26950396cf7","name":"","func":"global.set('Humid',msg.payload.Humid)\n\n\nmsg.payload= msg.payload.Humid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["d04f9ac167e5054f"]]},{"id":"8b5ceefdad716174","type":"function","z":"1f06c26950396cf7","name":"","func":"global.set('Gas_Sensor',msg.payload.Gas_Sensor)\n\n\nmsg.payload= msg.payload.Gas_Sensor;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":420,"wires":[["e1b6528ff5d5e564"]]},{"id":"c8d4ef8da16caf16","type":"ui_toast","z":"1f06c26950396cf7","position":"top right","displayTime":"1.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"HAZARDOUS GAS ALERT ","name":"ALERT","x":680,"y":500,"wires":[]},{"id":"19598072b2da5ea9","type":"function","z":"1f06c26950396cf7","name":"","func":"msg.payload= msg.payload.Gas_Sensor;\nif(msg.payload==1){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":500,"wires":[["c8d4ef8da16caf16"]]},{"id":"1b49a57b0f69f6de","type":"function","z":"1f06c26950396cf7","name":"","func":"msg.payload= msg.payload.Temperature;\nif(msg.payload>=45){\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":260,"wires":[["471c2151f55f6b8d"]]},{"id":"471c2151f55f6b8d","type":"ui_toast","z":"1f06c26950396cf7","position":"top left","displayTime":"1.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"HIGH TEMPERATURE ALERT","name":"ALERT-1","x":680,"y":260,"wires":[]},{"id":"6e7a8d28d7ebaa78","type":"cloudant out","z":"1f06c26950396cf7","name":"","cloudant":"5d28e39af5fdc7c6","database":"hazardous_area_monitoring","service":"_ext_","payonly":true,"operation":"insert","x":520,"y":600,"wires":[]},{"id":"1d4a1ed271980e06","type":"http in","z":"1f06c26950396cf7","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":840,"y":300,"wires":[["51a40ea7e18d2fe8"]]},{"id":"b3ad098161022243","type":"http response","z":"1f06c26950396cf7","name":"","statusCode":"","headers":{},"x":1150,"y":300,"wires":[]},{"id":"51a40ea7e18d2fe8","type":"function","z":"1f06c26950396cf7","name":"","func":"msg.payload = {'Temperature':global.get('Temperature'),'Humidity':global.get('Humid'),'Gas_Sensor':global.get('Gas_Sensor'),'Alarm':global.get('Alarm')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":300,"wires":[["b3ad098161022243"]]},{"id":"7aad03a96b2c68a6","type":"ui_chart","z":"1f06c26950396cf7","name":"","group":"53e4704e8ee1e14c","order":1,"width":"6","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":120,"wires":[[]]},{"id":"cc617d42bcb990ae","type":"ibmiot","name":"","keepalive":"60","serverName":"bxddo9.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"53e4704e8ee1e14c","type":"ui_group","name":"Temperature","tab":"921bcc13fd3771df","order":1,"disp":true,"width":"6","collapse":false},{"id":"57795ad37139dca5","type":"ui_group","name":"Humidity","tab":"921bcc13fd3771df","order":2,"disp":true,"width":"6","collapse":false},{"id":"dab251ccba4334d0","type":"ui_group","name":"Gas Sensor","tab":"921bcc13fd3771df","order":3,"disp":true,"width":"6","collapse":false},{"id":"5d28e39af5fdc7c6","type":"cloudant","host":"https://apikey-v2-tlousred1b9s5pmsh4ahzzbak8vkotqo00eq8690avd:2b56fc49427f0246b9bed0ba30c12f2a@60491405-daf0-4bbc-a3db-b5d46cd515c5-bluemix.cloudantnosqldb.appdomain.cloud","name":"db"},{"id":"921bcc13fd3771df","type":"ui_tab","name":"Hazardous Area Monitoring","icon":"dashboard","disabled":false,"hidden":false}]

